<link rel="stylesheet" href="https://unpkg.com/video.js@7.8.3/dist/video-js.min.css"/>

<video
    id="actualPlayer"
    class="video-js vjs-default-skin h-full w-full"
    controls
    autoplay
    width="640" height="264"
    data-setup='{ "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "<%= @url %>&modestbranding=1&;showinfo=0&;autohide=1&;rel=0;"}], "youtube": { "customVars": { "wmode": "transparent" } } }'
  >
</video>
